body{
	background-color: #494E6B
}

*{
	margin: 2px;
}

.jumbotron{
	color: pink;
}

.ballpoint , .gelpen , .japan, .fountain , .felt , .water , .metal , .high{
	font-size: 22px;
	color: pink;

}
.col-sm-2{
	border: none;
	margin: 45px;
}



