body{
	background-color: #985E6D
}

.ballpoint{
	font-size: 22px;
	color: #192231
}
.gelpen{
	font-size: 22px;
	color: #192231
}
.japan{
	font-size: 22px;
	color: #192231
}
.opal{
	font-size: 22px;
	color: #192231
}
.col-nd-3{
	margin: 30px;
}