body
{
	height:800px;
	background: #98878F;
	color: #985E6D;
}
.navbar-default
{
  background-color: #494E6B;
  font-family: "Amaranth";
}
.officalHeader
{
	font-family: "Sofia";
	font-size: 75px;
	text-shadow: 3px 2px black;
}
.officalHeader2
{
	font-family: "Amaranth";
	font-size: 50px;
	text-shadow: 3px 2px black;
}
.carousel-caption
{
	        margin: auto;
         	width:  10px;
         	height: 15px;
         	background-color: #A3E4D7;
         	font-family: 'Sofia';
         	align-items: center;
         	color: white;
         	text-shadow: 3px 2px #F1948A;
         	border: 2px solid #F1948A;
         	font-size: 20px;
         	text-align: top;
}
