body
{
	height:950px;
	background: linear-gradient(135deg,#cadeeb,#B49AC9);
	color: #985E6D;
}
.navbar-default
{
  background-color:#08415C;
  font-family: "Amaranth";
  color:#EEC6C5;
}
.officalHeader
{
	font-family: "Sofia";
	font-size: 75px;
	text-shadow: 3px 2px white;
  color: #9C0D38;
}
.officalHeader2
{
	font-family: "Amaranth";
	font-size: 50px;
	text-shadow: 3px 2px white;
  color:#9C0D38;
}
.carousel-caption
{
	  width:  200px;
    height: 95px;
    background-color: #08415C;
    border: 5px inset #EEC6C5;
    border-radius: 10px;
    font-family: 'Sofia';
    left: -10px;
    bottom: 104px;
    position: relative;
}
p
{
  font-family: "Amaranth";
  color: #EEC6C5;	
  font-weight: bold;
}
h3
{  
  font-family: "Amaranth";
  color: #08415C;
  font-weight: bold;
}
.imgframe
{
   border:4px solid #192231; 
}
.ec-cart-widget{
  position: absolute;
  top: 3px;
  right: 130px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.nice
{
  font-family: "Amaranth";
  color: #192231; 
  font-weight: bold;
}
.what
{
  font-size: 30px;
}
#myCarousel
{
  margin-top: 75px;
}
.navbar-nav a
{
  color: #EEC6C5 !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #9C0D38;
    color: #EEC6C5;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus 
{
  background-color: #9C0D38;
  color: #EEC6C5;
}
.carousel-control 
{
    height: 100px;
    width: 100px;
    opacity: 1;
    color: #08415C;
    top: 40%; 
}
.carousel-indicators li 
{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px;
    border-color: #9C0D38;
    border-radius: 50%;
    background-color: #08415C;
}
.carousel-indicators 
{
  bottom:-25px;
}
.carousel-indicators .active 
{
    width: 40px;
    height: 40px;
    margin: 15px;
    background-color: #EEC6C5;
}
h4
{
   font-size: 40px;
}
.img-responsive
{
  border: 5px dotted #9C0D38;
}
#notebooks
{
    width:  415px;
    height: 95px;
    background-color: #08415C;
    border: 5px inset #EEC6C5;
    border-radius: 10px;
    font-family: 'Sofia';
    left: 10px;
    bottom: 104px;
    position: relative;
}
#bundles
{
    width:  415px;
    height: 95px;
    background-color: #08415C;
    border: 5px inset #EEC6C5;
    border-radius: 10px;
    font-family: 'Sofia';
   left: 10px;
    bottom: 104px;
    position: relative;
}
#utensils
{
    width:  415px;
    height: 95px;
    background-color: #08415C;
    border: 5px inset #EEC6C5;
    border-radius: 10px;
    font-family: 'Sofia';
    left: 10px;
    bottom: 104px;
    position: relative;
}
#contact
{
    width:  225px;
    height: 95px;
    background-color: #08415C;
    border: 5px inset #EEC6C5;
    border-radius: 10px;
    font-family: 'Sofia';
    left: -15px;
    bottom: 104px;
    position: relative;
}
a:link {
color: #EEC6C5;
}
a:visited {
color: #EEC6C5;
}
a:hover {
color: #EEC6C5;
}
#footer
{
  color: #EEC6C5;
  font-size: 25px;
  font-weight: normal;
}
.navbar-text
{
  margin-left: 215px;
  margin-bottom: 15px;
  font-size: 35px !important;
}
.yeeyee
{
  width: 115px;
}