body
{
	height:800px;
	background: #98878F;
	color: #985E6D;
}
.navbar-default
{
  background-color: #494E6B;
  font-family: "Amaranth";
}
.officalHeader
{
	font-family: "Sofia";
	font-size: 75px;
	text-shadow: 3px 2px black;
}
.officalHeader2
{
	font-family: "Amaranth";
	font-size: 50px;
	text-shadow: 3px 2px black;
}
.carousel-caption
{
	  width:  250px;
    height: 106px;
    background-color: #192231;
    border: 5px solid #F1948A;
    border-radius: 10px;
    font-family: 'Sofia';
    left: 5px;
    bottom: 50px;
    position: relative;
}
p
{
  font-family: "Amaranth";
  color: #192231;	
  font-weight: bold;
}
h3
{  
  font-family: "Amaranth";
  color: #192231; 
  font-weight: bold;
}
.imgframe
{
   border:4px solid #192231; 
}
.ec-cart-widget{
  position: absolute;
  top: 3px;
  right: 130px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
